<main class="vintage-frame">
<section id="section2">
        <h2>📍 Medewi</h2>
        <p>Did you know that Medewi Point is renowned for its longest left-hander wave in Indonesia?</p>
        <div><a href="https://www.youtube.com/watch?v=zh346eK5Ws0">Look at this beauty</a></div>

        <div class="polaroid-gallery">
          <div class="polaroid">
            <%= image_tag("medewi/broken-board-medewi.jpg", alt: "Photo 1") %>
            <p>Broken Board</p>
          </div>
          <div class="polaroid">
            <%= image_tag("medewi/readytosurf1.jpg", alt: "Photo 2") %>
            <p>Ready to surf</p>
          </div>
          <div class="polaroid">
            <%= image_tag("medewi/medewivillage1.jpg", alt: "Photo 3") %>
            <p>Medewi village</p>
          </div>
        </div>
          <p>Medewi is the perfect place if you want to focus solely on surfing and learn from the best. To be honest,
            there's not much to do except catch some of the best waves.</p>
          <p>Beyond the waves, the people of Medewi are incredibly lovely, adding a warm and welcoming vibe to the
            area. You can enjoy laid-back interactions and chill activities with the locals, who often gather for
            relaxed beachside chats or small community events. It’s a great spot to immerse yourself in surfing
            while experiencing the friendly and easygoing atmosphere of the region.</p>
        <div class="mosaic-container">
          <div class="mosaic-item big">
            <%= image_tag("medewi/b&w1.jpg", alt: "Photo 1", width: 200, height: 310) %>
          </div>
          <div class="mosaic-item">
            <%= image_tag("medewi/balian-sunset.jpg", alt: "Photo 2") %>
          </div>
          <div class="mosaic-item">
            <%= image_tag("medewi/palmtrees.jpg", alt: "Photo 3") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/b&w2.jpg", alt: "Photo 4") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/surfyellowboard.jpg", alt: "Photo 5") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/medewivillage.jpg", alt: "Photo 6") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/failair.jpg", alt: "Photo 7") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/mel.jpg", alt: "Photo 8") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/readytosurf.jpg", alt: "Photo 9") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/chinesesurf.jpg", alt: "Photo 10") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/ditte.jpg", alt: "Photo 11") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/sole.jpg", alt: "Photo 12") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/firman-air.jpg", alt: "Photo 13") %>
          </div>
          <div class="mosaic-item big">
            <%= image_tag("medewi/bigsurf.jpg", alt: "Photo 14") %>
          </div>
        </div>

  <p> Medewi is actually the place I've been calling home for the last 9 months and I hope it will remain my home in the future.

        <div class="video-container" style="display: flex; justify-content: center; position: relative;">
          <video id="medewi-video" loop class="medewi-video">
            <source src="/assets/medewi1.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <button id="play-pause-button" class="vintage-button">▶️</button>
        </div>

        <div class="return-button-container">
          <%= link_to 'Return to Welcome Page', root_path, class: 'return-button' %>
        </div>
    </section>
</main>
